/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  icbi-lab/crca Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'icbi-lab/crc-atlas'
    author           = 'valentin.marteau'
    description      = 'nf-pipeline colorectal cancer atlas'
    nextflowVersion  = '>=23.04'
    version          = 'v1.0'
}

// Global default params, used in configs´
params {
  publish_dir_mode = "copy" // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  }


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// include workflow-specific configurations
if (params.workflow == "build_atlas") {
    includeConfig 'conf/build_atlas.config'
} else {
    includeConfig 'conf/downstream_analyses.config'
}

conda {
    useMamba = true
    enabled = true
}

//
// import plain java classes Paths
// and get realpaths for bind mounts
//
import java.nio.file.Paths;
new File(params.tmpDir).mkdirs()
params.singularityTmpMount = params.tmpDir.startsWith("/tmp/") ? "/tmp" : Paths.get(params.tmpDir).toRealPath()

singularity {
    enabled = true
    runOptions = "--no-home" + " -H " + params.singularityTmpMount + ":" + "/home/\$USER" + " --env " + "APPTAINERENV_TMPDIR=/tmp/\$USER/apptainerenv_cache" + "," + "NUMBA_CACHE_DIR=/tmp/\$USER/numba_cache" + "," + "MPLCONFIGDIR=/tmp/\$USER/matplotlib_cache" + " -B " + params.singularityTmpMount + ":" + "/home/\$USER/.jupyter"
    autoMounts = true
}
profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.clusterOptions = { '--gres=cputype:XG6342' } // run only on latest cpus
      //process.clusterOptions = '--nodelist=apollo-02' // run on specific node
        process.memory = '32 GB'
        process.cores = '2'
        process.queueSize = 600
        
    }
}