process {

// default container for python
    container = "/data/projects/2022/CRCA/containers/leto/2024-07-01-crc-atlas-scanpy.sif"

    withName: "JUPYTER.*" {
      //beforeScript 'mkdir -p /tmp/\$USER/.jupyter'
        ext.kernel = "python3"
      //container = "${baseDir}/envs/containers/2023-crca-scanpy.sif"
      //container = null
      //conda = "/data/projects/2022/CRCA/envs/2022-crca-scanpy"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
          cpus = 2
          time ='4h'
    }


/*
    withName: "RMARKDOWN.*" {
        container = null
        conda = "/home/marteau/.conda/envs/test_render_r"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/" },
            mode: params.publish_dir_mode
        ]
          cpus = 2
    }
*/

    

// Process-specific resource requirements
    withLabel: gpu {
        container = "/data/projects/2022/CRCA/containers/leto/2024-07-01-scvi-tools.sif"
        clusterOptions = { '--gres=shard:12' }
        containerOptions = "--nv --no-home --env PYTORCH_KERNEL_CACHE_PATH=/tmp/\$USER/torch_kernel_cache"
        memory ='128 GB'
        cpus = 12 // For scVI reproducibility need to fix number of cpus
        time ='24h'
        ext.kernel = "python3"
        cache = 'lenient'
    }

    withLabel: Rscript {
        container = "/data/projects/2022/CRCA/containers/leto/2024-08-18-crc-atlas-deseq.sif"
    }

}
